<div class="row">
	<div class="col-md-12">
		<h2>Finalize Order</h2>
		<br/>
		<ul style="list-style-type: none;"">
			<% @line_items.each do |line_item| %>
			  <% vehicle = Vehicle.find(line_item.vehicle_id) %>
			  <% company = Company.find(vehicle.company_id) %>
			  <div class="well">
				  <div class="row">
					  <div class="col-sm-4">
					    <h3 style="display: inline;"><%= "#{vehicle.read_attribute("make").capitalize} #{vehicle.read_attribute("model").capitalize}" %></h3>
					    <h5>VIN: <%= vehicle.vinNumber %></h5>
					    <li><h5 style="display: inline;">Origin: </h5><%= vehicle.origin %></li>
					    <li style="display: inline;"><h5 style="display: inline;">Destination: </h5><%= vehicle.destination %></li>
					    <li><h5 style="display: inline;">Distance: </h5><%= vehicle.distance %></li>
					    </div>
					    <div class="col-sm-4">
					    <div class="panel panel-default" id="order-panel">
		            <div class="panel-heading" id="order-header">
		              <h6 style="padding-left: 10px"> Company</h6>
		            </div>
		            <div class="panel-body">
		              <p><%= company.companyAddress %></p>
		            </div>
		          </div>
					   </div>
					    <div class="col-sm-4">
		              <%= image_tag vehicle.image, class: "tableimage" %>
					   </div>
				   </div>
			   </div>
			 <% end %>
		</ul>
	  <%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-success" %>
	</div>
</div>
