<div class="row">
  <div class="col-sm-2">
    <ul class="nav navbar-side">            
      <li class="active nav navbar navbar-nav"><a href="#home" data-target="#home" data-toggle="tab">Order History</a></li>
    </ul>
  </div>

  <div class="col-sm-10">
    <br />
    <h3>Invoices</h3>
    <table class="table-striped sortable autobox" style="width: 95%">
      <thead>
        <tr>
          <th width="10%">Invoice ID</th>
          <th>Created On</th>
          <th>Dispatch Date</th>
          <th>Order Total</th>
          <th>Truck ID</th>
          <th>Order Items</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.id, documents_path(:order_id => order.id ) %></td>
            <td><%= local_time(order.created_at) %></td>
            <td><%= order.dispatch_date %></td>
            <td><%= number_to_currency order.grand_total%></td>
            <td><%= order.truck_id %></td>
            <td><h5><a data-toggle="modal" data-target="#myModal<%=order.id%>" data-controls-modal="#myModal_<%=order.id%>" data-backdrop="static" data-keyboard="false" href="#"><span class="button"><%= "#{order.order_items.length} Vehicles" %></span></a></h5></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<% @orders.each do |order| %>
  <div class="modal fade" id="myModal<%=order.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Loaded Vehicles</h4>
        </div>
        <div class="modal-body">
          <table class="table-striped sortable" width="100%">
            <thead>
                <th width="20%"><h4>Vehicle</h4></th>
                <th width="20%"><h4>Origin</h4></th>
                <th width="20%"><h4>Destination</h4></th>
                <th width="10%"><h4>Distance</h4></th>
                <th width="10%"><h4>Weight</h4></th>
                <th width="10%"><h4>Bid</h4></th>

            </thead>
            <tbody>  
            <%  order.order_items.each do |k,v| %>
            <tr>
              <td><%= "#{Vehicle.find(k).make.capitalize} #{Vehicle.find(k).model.capitalize}" %></td>
              <td><%= "#{Vehicle.find(k).origin.gsub(", United States", "")}" %></td>
              <td><%= "#{Vehicle.find(k).destination.gsub(", United States", "")}" %></td>
              <td><%= "#{Vehicle.find(k).distance}" %></td>
              <td><%= "#{Vehicle.find(k).actualWeight}"%></td>
              <td><%= "#{number_to_currency Vehicle.find(k).distance}" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
