<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @pickup.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @pickup.end_time %>
</p>

<%= link_to 'Edit', edit_pickup_path(@pickup) %> |
<%= link_to 'Back', pickups_path %>
