<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @company.companyName %>
</p>

<p>
  <strong>Companyaddress:</strong>
  <%= @company.companyAddress %>
</p>

<p>
  <strong>Companybillingaddress:</strong>
  <%= @company.companyBillingAddress %>
</p>

<p>
  <strong>Companycustomid:</strong>
  <%= @company.companyCustomId %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
