<div class="row">
  <div class="col-sm-2">
    <ul class="nav navbar-side">
    <li class="active nav navbar navbar-nav" style="width: 85%; padding-left:10px">
      <i style="padding-left: 15px;"><%= link_to(image_tag("carHauler-btn.png", class: 'img-responsive'), new_delivery_truck_path,  :method => :get) %> 
      <%= link_to 'Add to Fleet', new_delivery_truck_path %></i>
    </li>
    </ul>
  </div>
  <div class="col-sm-10" >
    <br />
    <h3>Fleet Vehicles</h3>
      <table class="table-striped sortable autobox" style="width: 95%">
        <thead>
          <tr>
            <th>Delivery Truck</th>
            <th>Status</th>
            <th>Remaining Capacity</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @delivery_trucks.each do |truck| %>
            <% @newWeight = truck.weightCapacity.to_i %>
            <% @count = 0 %>
            <% @vehicles.each do |vehicle| %>
              <% if vehicle.truck_id.to_i == truck.id.to_i %>
                <% @count += 1 %>
                <% @newWeight -= vehicle.actualWeight.to_i %>
              <% end %>
              <% truck.update(currentWeight: @newWeight.to_i) %>
            <% end %>
            <tr>
              <td><%= link_to truck.name, truck %></td>
              <td><a data-toggle="modal" data-target="#myModal<%=truck.id%>" data-controls-modal="#myModal_<%=truck.id%>" data-backdrop="static" data-keyboard="false" href="#"><span class="button"><% if @count > 0 %><%= @count %><%= " Vehicles Pending" %><% else %>Ready<%end%></span></a></td>
              <td><%= @newWeight %></td>
              <td><select style="width:125px" onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
                <option selected disabled>Load Vehicle</option>
                  <% @vehicles.each do |vehicle| %>
                <option value=<%= "/?truck_id=#{URI.escape(truck.id.to_s)}&carId=#{URI.escape(vehicle.id.to_s)}"%>><%= vehicle.name %></option>
                  <%end%>
              </select></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% @delivery_trucks.each do |truck|%>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal<%=truck.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Pending Load Configuration</h4>
        </div>
        <div class="modal-body">
          <table class="table-striped sortable" width="100%">
            <thead>
                <th width="30%">Vehicle</th>
                <th width="25%">Weight</th>
                <th width="30%">Action</th>
                <th width="15%">Confirm Vehicle</th>
            </thead>
            <tbody>  
              </tr>
              <% @vehicles.each do |vehicle|%>
                <% if vehicle.truck_id.to_s == truck.id.to_s %>
                  <tr>
                    <td><h5><%= link_to vehicle.name, vehicle %></h5></td>
                    <td><h5><%= vehicle.actualWeight %></h5></td>
                    <td><%= render 'loadedform', vehicle: vehicle %></td>
                    <% time = Time.new %>
                       <%= form_tag add_to_cart_path, :remote => true do %>
                        <%= hidden_field_tag :vehicle_id, vehicle.id %>
                        <%= hidden_field_tag :bid_total, vehicle.distance.to_i %>
                        <%= hidden_field_tag :dispatch_date, (time.month.to_s+"/"+time.day.to_s + "/" +time.year.to_s) %>
                        <%= hidden_field_tag :order_id, (vehicle.truck_id.to_s+(time.year.to_s+time.month.to_s+time.day.to_s)).to_i %>
                        <%= hidden_field_tag :truck_id, vehicle.truck_id.to_s %>
                        <td><%= submit_tag "Add to Cart", class: "btn btn-primary" %></td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel Order</button>
           <%= link_to "Finalize Load", view_order_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
</div>
    
<% end %>

