<script src="sorttable.js"></script>

<body class= "bioRhyme">

<p id="notice"><%= notice %></p>

<p>
  <strong>Driver name:</strong>
  <%= @driver.driver_name %>
</p>
<br>
<p>
  <strong>Driver:</strong>
  <%= @driver.driver_id %>
</p>
<br>
<p>
  <strong>Driver dob:</strong>
  <%= @driver.driver_dob %>
</p>
<br>
<p>
  <strong>Driver address:</strong>
  <%= @driver.driver_address %>
</p>
<br>
<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>
<br>
<p>
  <strong>Phone number:</strong>
  <%= @driver.phone_number %>
</p>
<br>
<p>
  <strong>Trailer capacity:</strong>
  <%= @driver.trailer_capacity %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver), class: "btn btn-default" %> |
<%= link_to 'Back', drivers_path, class: "btn btn-primary" %>


</body>